{% extends 'app/base.html' %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
<div id="userProfile">

    <h1>[[ message ]]</h1>
    <ul v-for=" i in info">
        <li>[[ i.user ]]</li>
        <li>[[ i.address ]]</li>
        <li :key="i.id"
            ><input v-model='i.preferred' type="checkbox" @change='changeStatus(i.id)'>
            <span>
                Preferred: 
            </span>
            <span>[[ i.preferred ]]</span>
        </li>
    </ul>
</div>


{% endblock %}