{% extends "app/base.html" %}
{% load static %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="cartPage" class="container">
    <div class="row justify-content-center">
        <h2>Checkout [[ message ]]</h2>
        <table class="table">
            <tr>
                <th class="col-2"> Item </th>
                <th class="col-2"></th>
                <th class="col-2"> Price </th>
                <th class="col-2"> Quantity </th>
                <th class="col-2"> Item Total </th>

            </tr>
            <tr v-for="item in items">
                <td class="col-2"><img v-bind:src="item.product_name.image"></td>
                <td class="col-2">[[ item.product_name.product_name ]]</td>
                <td class="col-2"> $[[ item.product_name.price ]]</td>
                <td class="col-2">[[ item.quantity ]]</td>
                <td class="col-2">$[[ item.item_total ]] </td>


            </tr>
            <tr>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2">Subtotal:</td>
                <td class="col-2">$[[ totals.subtotal ]]</td>

            </tr>
            <tr>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2">15% Preferred Customer Discount:</td>
                <td class="col-2">-$[[ totals.preferred_discount ]]</td>
                <td class="col-2"></td>
            </tr>
            <tr>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2">Cart Total:</td>
                <td class="col-2">$[[ totals.cart_total ]]</td>
                <td class="col-2"></td>
            </tr>
        </table>
        <a class="btn btn-light" href="{% url 'app:cart' %}">Go Back to Edit Cart</a>
        <button class="btn btn-light"> Confirm Checkout</button>

    </div>
</div>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock %}