{% extends "app/base.html" %}
{% load static %}

{% block title %}
Store
{% endblock %}

{% block content %}
<h1>Shop</h1>
<table class="table">

    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
    </tr>
    {% for product in products %}
    {% if product.inventory > 0 %}
    <tr>

        <td>{{ product.product_name }}</td>
        <td>{{ product.product_description }}</td>
        <td><a href=""><img src="{{ product.image.url }}"></a></td>
        <td>{{ product.price }}</td>
            <td>
                <form action="{% url 'app:cart_add' pk=product.pk %}" class="form-inline">
                    <input type="hidden" name="product-name" class="form-control mr-sm-2" type="text" value="{{ product.pk }}">
                        <button class="btn btn-primary" type="submit">Add to Cart</button>
                </form>
            </td>
    </tr>
    {% endif %}
    {% endfor %}

    <script src="{% static 'app/main.js' %}"></script>
    {% endblock %}