{% extends "app/base.html" %}
{% load static %}

{% block title %}
Store
{% endblock %}

{% block content %}
<h1>Reviews</h1>


<table class="table">

    <tr>
        <th>Product</th>
        <th><img src="{{ product.image.url }}"></th>
        <th>Price</th>
        <th>Rating</th>
        <th>Review</th>

    </tr>
    {% for review in reviews %}
    <tr>

        <td>{{ product.product_name }}</td>
        <td></td>
        <td>{{ product.price }}</td>
        <td>{{ review.product_rating }} stars out of 5</td>
        <td>{{ review.review }}</td>

    </tr>
    {% endfor %}

    <script src="{% static 'app/main.js' %}"></script>
    {% endblock %}