{% extends "app/base.html" %}
{% load static %}

{% block title %}
    Store
{% endblock %}

{% block content %}
    <h1>It looks like we don't have what you're looking for</h1>
    <h3>Check out some of what we do have</h3>

                <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="{% url 'electric' %}">Electric Guitars</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'acoustic' %}">Acoustic Guitars</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'amps' %}"><span class="red">Amps</span></a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'cases' %}"><span class="red">Cases</span></a></li>
            </ul>

    <script src="{% static 'app/main.js' %}"></script>
{% endblock %}