{% extends "app/base.html" %}
{% load static %}

{% block title %}
    Store
{% endblock %}

{% block content %}
    <h1>It looks like we don't have what you're looking for</h1>
    <h3>Check out some of what we do have</h3>

            <div>
                <ul class="navbar-nav mr-auto mt-2">
                {% for category in categories %}
                    <li class="nav-item"><a class="navbar-brand" href="{% url 'app:filter' category=category %}">{{ category | title }}</a></li>
                {% endfor %}

            </ul>

            </div>
    <script src="{% static 'app/main.js' %}"></script>
{% endblock %}