/* -------Stylesheet--------- */

html,
body,
.view {
  height: 100%;
  background-color: #EDECE8;
  color: rgb(22, 22, 22);
}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #ad8d78 !important;
}

.navbar:not(.top-nav-collapse) {
  background: #EDECE8;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #ad8d78 !important;
  }
}

h1 {
  letter-spacing: 8px;
  color: rgb(22, 22, 22);
}

h5 {
  letter-spacing: 3px;
  color: rgb(22, 22, 22);
}

#link {
  color: rgb(22, 22, 22);
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

header {
  margin-bottom: 15vh;
}

table, td, th {
    text-align: center;
}

table th {
  font-weight: 1000;
}

.account_details {
  list-style-type: none;
}

.account_label {
  font-weight: 900; 
}

#history_table {
  padding-top: 100px;
}

::placeholder {
  color: rgb(128, 128, 128) !important;
}